.chat-container{
    border: 2px solid green;
    background-color: gray;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
    width: 500px;
    height: 650px;
    overflow-x: hidden;
    overflow-y: scroll;
}

.message-history{
    position: relative;
    height: 700px;
    margin-bottom: 10px;
}

.message-container {
    padding: 10px;
    margin: 10px 0;
}

.message-container::after{
    content:"";
    clear: both;
    display: table;
}

.image{
    width: 50px;
    border-radius: 50%;
    background-color: red;

}

.message-container.user{
    border: 2px solid red;
    float: right;
    width: 450px;

}

.message-container.model{
    border: 2px solid blue;
    float: left;
    width: 450px;
}

.sendBtn{
    width: 500px;
    border: 2px solid purple;
    position: absolute;
    bottom: 0;
    margin: 0;
    padding: 0;
}